USE [master]
GO
/****** Object:  Database [Rent-a-car]    Script Date: 1/16/2018 9:43:01 AM ******/
CREATE DATABASE [Rent-a-car]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Rent-a-car', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Rent-a-car.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Rent-a-car_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Rent-a-car_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Rent-a-car].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Rent-a-car]
GO
USE [Rent-a-car]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 1/16/2018 9:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Customer_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NULL,
	[Last Name] [nvarchar](20) NULL,
	[Birth Date] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Phone] [nchar](10) NULL,
	[e-mail] [nvarchar](30) NULL,
	[Adress] [nvarchar](30) NULL,
 CONSTRAINT [PK_Korisnik] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 1/16/2018 9:43:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Employee_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NULL,
	[Last Name] [nvarchar](20) NULL,
	[Birth Date] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Phone] [nchar](10) NULL,
	[e-mail] [nvarchar](30) NULL,
	[City] [nvarchar](15) NULL,
	[Job Title] [nvarchar](30) NULL,
	[Employment Type] [nvarchar](30) NULL,
 CONSTRAINT [PK_Zaposleni] PRIMARY KEY CLUSTERED 
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Extras]    Script Date: 1/16/2018 9:43:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Extras](
	[Extras_ID] [int] IDENTITY(1,1) NOT NULL,
	[WiFi] [bit] NULL,
	[RoofBox] [bit] NULL,
	[Booster] [bit] NULL,
	[GPS] [bit] NULL,
	[BikeRack] [bit] NULL,
	[Fuel] [bit] NULL,
	[Phone] [bit] NULL,
	[BabySeat] [bit] NULL,
	[Winter] [bit] NULL,
 CONSTRAINT [PK_Extras] PRIMARY KEY CLUSTERED 
(
	[Extras_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insurance]    Script Date: 1/16/2018 9:43:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insurance](
	[Insurance_ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](30) NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_Osiguranje] PRIMARY KEY CLUSTERED 
(
	[Insurance_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 1/16/2018 9:43:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[Login_ID] [int] IDENTITY(1,1) NOT NULL,
	[user] [nvarchar](50) NULL,
	[pass] [nvarchar](50) NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[Login_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 1/16/2018 9:43:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[Reservation_ID] [int] IDENTITY(1,1) NOT NULL,
	[Pick Date] [date] NULL,
	[Pick Location] [nvarchar](20) NULL,
	[Return Date] [date] NULL,
	[Return Location] [nvarchar](20) NULL,
	[Price] [decimal](18, 0) NULL,
	[Customer_ID] [int] NULL,
	[Vehicle_ID] [int] NULL,
	[Employee_ID] [int] NULL,
	[Extras_ID] [int] NULL,
	[Insurance_ID] [int] NULL,
 CONSTRAINT [PK_Rezervacija] PRIMARY KEY CLUSTERED 
(
	[Reservation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 1/16/2018 9:43:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[Vehicle_ID] [int] IDENTITY(1,1) NOT NULL,
	[Make] [nvarchar](20) NULL,
	[Model] [nvarchar](20) NULL,
	[Air] [bit] NULL,
	[Type] [nvarchar](20) NULL,
	[GearBox] [nvarchar](20) NULL,
	[Seats] [nvarchar](10) NULL,
	[Consum] [nvarchar](10) NULL,
	[Price] [nvarchar](10) NULL,
 CONSTRAINT [PK_Vozilo] PRIMARY KEY CLUSTERED 
(
	[Vehicle_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Extras] FOREIGN KEY([Extras_ID])
REFERENCES [dbo].[Extras] ([Extras_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Extras]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Rezervacija_Korisnik] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([Customer_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Rezervacija_Korisnik]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Rezervacija_Osiguranje] FOREIGN KEY([Insurance_ID])
REFERENCES [dbo].[Insurance] ([Insurance_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Rezervacija_Osiguranje]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Rezervacija_Vozilo] FOREIGN KEY([Vehicle_ID])
REFERENCES [dbo].[Vehicle] ([Vehicle_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Rezervacija_Vozilo]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Rezervacija_Zaposleni] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[Employee] ([Employee_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Rezervacija_Zaposleni]
GO
USE [master]
GO
